{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-high-performance-animation",
    "stylelint-no-unsupported-browser-features",
    "stylelint-order"
  ],
  "rules": {
		"value-keyword-case": null,
    "declaration-block-trailing-semicolon": null,
    "declaration-colon-newline-after": null,
    "function-name-case": null,
    "function-whitespace-after": null,
    "no-eol-whitespace": null,
    "no-missing-end-of-source-newline": null,
    "order/properties-alphabetical-order": true,
    "plugin/no-low-performance-animation-properties": [
      true,
      { "ignore": "paint-properties" }
    ],
    "plugin/no-unsupported-browser-features": [
      true,
      { "browsers": ["last 2 versions and > 2%", "ie 11"] }
    ],
    "selector-type-case": null,
    "selector-type-no-unknown": null,
    "property-no-unknown": null,
    "declaration-empty-line-before": null,
    "rule-empty-line-before": null
  }
}
